@media screen and (max-width: 768px)
 


.image-container img {
 width: 100%;
 height: auto;
}

.image-container img {
 width: 100%;
 height: auto;
 object-position: 50% 50%; /* This will center the image within the container */
}

.logo {
 font-size: 24px;
 color: red;
color: green;
color: blue;
 background-color: #7024a6;
 padding: 10px 20px;
 text-align: center;
 cursor: pointer;
  
  
}

logo {
 /* ... existing styles ... */

color: #rrggbb;

}

@media screen and (max-width: 768px) {
 .logo {
   font-size: 18px;
   padding: 5px 10px;
 }
}
